USE [FirdsDB]
GO
/****** Object:  StoredProcedure [firds].[CheckDataQuality]    Script Date: 8/8/2025 9:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		User
-- Create date: 20250717
-- Description:	Procedura do sprawdzenia jakości danych produkcyjnych Firds
-- =============================================
ALTER PROCEDURE [firds].[CheckDataQuality]
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT ISIN, Issr
        FROM firds.ISIN
        GROUP BY ISIN, Issr
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.ISIN', 16, 1);
        RETURN;
    END

    IF EXISTS (
        SELECT CFICode
        FROM firds.CFICode
        GROUP BY CFICode
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.CFICode', 16, 1);
        RETURN;
    END

    IF EXISTS (
        SELECT CurrencyCode
        FROM firds.Currency
        GROUP BY CurrencyCode
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.Currency', 16, 1);
        RETURN;
    END

    IF EXISTS (
        SELECT MIC
        FROM firds.MIC
        GROUP BY MIC
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.MIC', 16, 1);
        RETURN;
    END

    IF EXISTS (
        SELECT IsinId, MicId
        FROM firds.ISINData
        GROUP BY IsinId, MicId
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.ISINData', 16, 1);
        RETURN;
    END

    IF EXISTS (
        SELECT IsinId, MicId
        FROM firds.ISINTermntd
        GROUP BY IsinId, MicId
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.ISINTermntd', 16, 1);
        RETURN;
    END

    IF EXISTS (
        SELECT ISIN, MIC
        FROM firds.ISINCancel
        GROUP BY ISIN, MIC
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Import error: Duplicates in firds.ISINCancel', 16, 1);
        RETURN;
    END
END

