USE [ReportDB]
GO
/****** Object:  StoredProcedure [firds].[RefreshReportInstrument]    Script Date: 8/8/2025 9:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		User
-- Create date: 20250720
-- Description:	Procedura do odświeżania danych dla faportów
-- =============================================
ALTER PROCEDURE [firds].[RefreshReportInstrument]
AS
BEGIN
--exec [firds].[RefreshReportInstrument]
    SET NOCOUNT ON;


    INSERT firds.ReportInstrument
    SELECT i.ISIN, m.MIC, i.[Name], c.CFICode, i.Issr, a.FrstTradDt, a.TermntnDt, 'isindata'
    FROM FirdsDB.firds.ISINData a 
    JOIN FirdsDB.firds.ISIN i
    ON a.isinid = i.id 
    JOIN FirdsDB.firds.CFICode c
    ON a.cficodeid = c.id 
    JOIN FirdsDB.firds.Currency cur
    ON a.currencyid = cur.id 
    JOIN FirdsDB.firds.MIC m
    ON a.micid = m.id 
    LEFT JOIN firds.ReportInstrument tab 
    ON tab.ISIN = i.ISIN AND tab.Mic = m.mic
    WHERE tab.isin IS NULL AND tab.SourceTable = 'isindata'

    UNION ALL

    SELECT i.ISIN, m.MIC, i.[Name], c.CFICode, i.Issr, a.FrstTradDt, a.TermntnDt, 'isinterm'
    FROM FirdsDB.firds.ISINTermntd a 
    JOIN FirdsDB.firds.ISIN i
    ON a.isinid = i.id 
    JOIN FirdsDB.firds.CFICode c
    ON a.cficodeid = c.id 
    JOIN FirdsDB.firds.Currency cur
    ON a.currencyid = cur.id 
    JOIN FirdsDB.firds.MIC m
    ON a.micid = m.id 
    LEFT JOIN firds.ReportInstrument tab 
    ON tab.ISIN = i.ISIN AND tab.Mic = m.mic
    WHERE tab.isin IS NULL AND tab.SourceTable = 'isinterm'

    UNION ALL

    SELECT a.ISIN, a.MIC, NULL, NULL, NULL, NULL, NULL, 'isincanc'
    FROM FirdsDB.firds.ISINCancel a
    LEFT JOIN firds.ReportInstrument tab 
    ON tab.ISIN = a.ISIN AND tab.Mic = a.mic
    WHERE tab.isin IS NULL AND tab.SourceTable = 'isincanc';

    SET NOCOUNT OFF;
END
